* {
  font-family: Roboto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__header {
  height: 25px;
  padding: 20px 0px;
}
.logo__footer {
  height: 20px;
  width: 30px;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}
header a {
  font-size: 15px;
  position: absolute;
  left: 2%;
  top: 32%;
}
header a i {
  font-size: 20px;
  color: black;
}

a {
  text-decoration: none;
}

h2 {
  margin-left: 20px;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.section__localisation {
  background: #EAEAEA;
}
.section__reserver {
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
  background: #F6F6F6;
}
.section__reserver .btn {
  cursor: pointer;
  height: 50px;
  border-radius: 25px;
  border-style: none;
  background: linear-gradient(150deg, #FF79DA 0%, #9356DC 100%);
  margin: 0 auto 30px auto;
  box-sizing: border-box;
  padding: 5px 15px;
  transition: all 0.3s;
}
.section__reserver .btn span {
  color: white;
}
.section__reserver .btn:hover {
  transform: translateY(-5px);
  opacity: 0.8;
  box-shadow: #353535 0px 5px 9px 0px;
  transition: all 0.3s;
}
.section__reserver h2 {
  margin: 0 50px;
  text-align: center;
  padding-top: 20px;
}
.section__reserver p {
  text-align: center;
}
.section__fonctionnement {
  flex-direction: column;
}
.section__fonctionnement .liste_fonction {
  counter-reset: i;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
}
.section__fonctionnement .liste_fonction__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  width: 85%;
  height: 70px;
  border-radius: 25px;
  box-shadow: #ced3da 0px 2px 8px 0px;
  margin-bottom: 25px;
  transition: all 0.3s;
  position: relative;
}
.section__fonctionnement .liste_fonction__item i {
  width: 20%;
  height: 25px;
  padding-top: 8px;
}
.section__fonctionnement .liste_fonction__item span {
  width: 50%;
}
.section__fonctionnement .liste_fonction__item:hover {
  background: #f2eafb;
  box-shadow: #ced3da 0px 2px 8px 0px;
  transition: all 0.3s;
}
.section__fonctionnement .liste_fonction__item::before {
  counter-increment: i;
  content: counters(i, ".") " ";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -13px;
  color: white;
  height: 37px;
  width: 30px;
  background: #9356DC;
  border-radius: 50%;
}
.section__restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F6F6F6;
  width: 100%;
}
.section__restaurants a {
  width: 90%;
}
.section__restaurants a .carte {
  box-sizing: border-box;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 25px;
  box-shadow: #ced3da 0px 2px 8px 0px;
  transition: 0.3s all;
}
.section__restaurants a .carte img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__restaurants a .carte .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__restaurants a .carte .description h3 {
  padding-left: 15px;
}
.section__restaurants a .carte .description p {
  padding: 0px 0px 15px 15px;
  margin: 0;
}
.section__restaurants a .carte .description i {
  color: black;
  margin: 0px 20px 30px 0px;
  font-size: 25px;
}
.section__restaurants a .carte .description i:hover {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(150deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: bold;
}
.section__restaurants a .carte__nouveau {
  position: relative;
}
.section__restaurants a .carte__nouveau::before {
  content: "Nouveau";
  position: absolute;
  z-index: 1;
  background: #99E2D0;
  border-radius: 3px;
  right: 4%;
  top: 6%;
  color: #278870;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 13px 6px 13px;
}
.section__restaurants a .carte:hover {
  transform: scale(1.04);
  transition: 0.3s all;
}

.page_menu img {
  width: 100%;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
}
.page_menu .menu {
  position: relative;
  top: -50px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  background: #F6F6F6;
}
.page_menu .menu h1 {
  margin-left: 15px;
  padding-top: 15px;
  font-family: "Shrikhand", cursive;
}
.page_menu .menu p {
  padding-left: 20px;
}
.page_menu .menu .texte_coeur {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_menu .menu .texte_coeur i {
  color: black;
  margin: 40px 20px 30px 0px;
  font-size: 25px;
}
.page_menu .menu .texte_coeur i:hover {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(150deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: bold;
}
.page_menu h2 {
  position: relative;
  font-weight: 400;
  color: #737373;
  font-size: 15px;
}
.page_menu h2::after {
  content: "";
  border-bottom: #99E2D0 solid 2px;
  width: 45px;
  bottom: -5px;
  left: 0;
  position: absolute;
}
.page_menu section {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-left: 25px;
}
.page_menu section article {
  width: 90%;
  border-radius: 10px;
  background: white;
}
.page_menu .menu__item {
  opacity: 0;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  box-shadow: #ced3da 0px 2px 8px 0px;
  overflow: hidden;
  transform: translateY(25px);
}
.page_menu .menu__item .text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 85%;
}
.page_menu .menu__item .text p, .page_menu .menu__item .text h3 {
  padding: 10px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page_menu .menu__item strong {
  position: absolute;
  right: 2%;
  bottom: 10%;
  transition: 0.3s all;
}
.page_menu .menu__item .valide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #99E2D0;
  height: 100%;
  width: 60px;
  right: -60px;
  transition: 0.3s all;
}
.page_menu .menu__item .valide i {
  color: white;
}
.page_menu .menu__item:hover .valide {
  right: 0;
}
.page_menu .menu__item:hover strong {
  right: 70px;
}
.page_menu .menu__item:hover .text {
  width: 68%;
}
.page_menu .menu__item:hover .valide i {
  transform: rotate(360deg);
  transition-duration: 0.3s;
}
.page_menu .item1 {
  -webkit-animation: affichage 1.5s forwards linear;
          animation: affichage 1.5s forwards linear;
}
.page_menu .item2 {
  -webkit-animation: affichage 1.5s 0.2s forwards linear;
          animation: affichage 1.5s 0.2s forwards linear;
}
.page_menu .item3 {
  -webkit-animation: affichage 1.5s 0.4s forwards linear;
          animation: affichage 1.5s 0.4s forwards linear;
}
.page_menu .item4 {
  -webkit-animation: affichage 1.5s 0.6s forwards linear;
          animation: affichage 1.5s 0.6s forwards linear;
}
.page_menu .btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  border-style: none;
  background: linear-gradient(150deg, #FF79DA 0%, #9356DC 100%);
  margin: 0 auto 30px auto;
  box-sizing: border-box;
  padding: 5px 15px;
  transition: all 0.3s;
}
.page_menu .btn span {
  color: white;
}
.page_menu .btn:hover {
  transform: translateY(-5px);
  opacity: 0.8;
  box-shadow: #353535 0px 5px 9px 0px;
  transition: all 0.3s;
}

footer {
  display: flex;
  flex-direction: column;
  background: #353535;
}
footer ul {
  padding-left: 0;
  list-style: none;
}
footer p {
  color: white;
  width: 50%;
  text-align: left;
  margin-left: 20px;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  color: white;
  width: 100px;
  margin: 20px 0 0 20px;
}

.loadcontent {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  -webkit-animation: loadinger 0.1s;
          animation: loadinger 0.1s;
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loading {
  border: 5px solid #9356DC;
  border-top: 5px solid #99E2D0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: loading 1s ease-in-out;
          animation: loading 1s ease-in-out;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes affichage {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  66% {
    transform: translateY(10px);
    opacity: 0;
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes affichage {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  66% {
    transform: translateY(10px);
    opacity: 0;
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loadinger {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loadinger {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@media screen and (min-width: 769px) {
  .page_menu img {
    height: 190px;
  }
  .page_menu section h2 {
    margin-left: 0;
  }
  .page_menu .entree_plat_dessert {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .page_menu .entree_plat_dessert section {
    width: 28%;
  }
  .section__fonctionnement .liste_fonction {
    flex-direction: row;
    justify-content: space-around;
  }
  .section__fonctionnement .liste_fonction__item {
    width: 30%;
  }
  .section__restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .section__restaurants a {
    width: 20%;
  }
  .section__restaurants a .carte {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */